


.my_heading{
        font-size: medium;
        font-weight: 600;
        color: #716b6b;
}
.subheading{
        font-size: medium;
        font-weight: 600;
        color: #f01616;
}
.title{
        font-size: large;
        font-weight: 600;
        color: #716b6b;
}




/* oklch(0.69 0.23 23.63);  */