@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic; 
}

@theme {
  --color-red: #e42222;
  --color-red-light: #fef2f2;
  --color-blue: #60a5fa;
  --color-blue-light: #60a5fa;
}

.fontHeading{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
  /* line-height: 6rem; */
  color:#525252;

}
.fontTopHeading{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  /* line-height: 6rem; */
  color:#6b6a6a;

}
.profileDashFont{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  /* line-height: 6rem; */
  color:#ffffff;
}

.fontNavbar{
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.1rem;
  /* line-height: 6rem; */
  color:#6e6e6e;
}

.colorPinkRed{
  background: linear-gradient(to top, #ef4444, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* .text-gray-700{
  color: #555555;
  font-size: 0.8rem;
  font-weight: 400;
  
} */


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@layer utilities {
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
  }

  .animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
  }
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-down {
  animation: slide-in-down 0.4s ease-out forwards;
}

.clip-path-white-triangle {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.clip-path-red-triangle {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


/* #fb5656; */